body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex; 
    height: 100vh; 
    max-width: 100% !important;
    padding-right: 0 !important; 
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.right-panel {
    flex-grow: 1;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100%;
}

.navigation-bar {
    padding: 29px;
    background-color: white;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-icon {
    font-size: 40px;
}

.navigation-link {
    font-size: 40px;
    color: black;
}

.home-link-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 15px;
}

.home-link {
    text-decoration: none;
    color: #567184;
    font-size: 30px;
}

.appointment-table-container {
    margin: 25px 25px 25px 25px;
    background: white;
    padding: 20px;
    height: 70%;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.appointment-table th, .appointment-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.appointment-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    border: 1px solid #000;
}

.modal-body p > strong {
    vertical-align: top;
}

#personalAppointmentLocation {
    vertical-align: top;
    margin-top: -5px; /* Điều chỉnh giá trị này cho phù hợp */
}

#groupAppointmentLocation {
    vertical-align: top;
    margin-top: -5px; /* Điều chỉnh giá trị này cho phù hợp */
}
.list-appointment {
    margin-top: 10px; /* Thêm khoảng cách giữa các bảng lịch hẹn */
}