body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important; /* Sử dụng 100% thay vì 100vw */
    max-width: 100%;
    display: flex; /* Thiết lập container là flex container */
    height: 100vh; /* Đảm bảo container có chiều cao đầy đủ */
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.function-list {
    background: linear-gradient(180deg, #D9D9D9 0%, #737373 0%, #777777 96%, #777777 96%, #737373 100%);
    width: 250px; /* Chiều rộng cố định */
    height: 100vh; /* Chiều cao đầy đủ */
    padding: 0;
    margin: 0;
}

.TT-link , .GV-link, .item-link {
    text-align: left; /* Căn chữ và icon về bên trái */
    text-decoration: none;
    display: flex; /* Sử dụng flexbox để căn chỉnh */
    align-items: center; /* Căn giữa các mục theo chiều dọc */
    padding: 10px 15px; /* Đồng bộ padding */
    font-size: 15px; /* Đồng bộ font-size */
    color: #fff;
}

.TT-link .bi, .GV-link .bi, .item-link .bi {
    margin-right: 10px; /* Khoảng cách giữa icon và chữ */
    font-size: 30px; /* Đồng bộ kích thước icon */
}

.divider{
    border: none;
    height: 0.5px;
    background-color: #ccc; /* Màu của đường kẻ */
    margin: 0; /* Loại bỏ margin mặc định */
}

.function-list-item {
    list-style-type: none;
    padding: 0; /* Loại bỏ padding mặc định */
}
.right-panel {
    flex-grow: 1; /* Cho phép right-panel mở rộng để chiếm phần còn lại của không gian */
    background-color: #f0f0f0; /* Màu xám nhạt */
    height: 100vh; /* Đảm bảo chiều cao đầy đủ */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng có sẵn */
}
.right-panel .navigation {
    padding: 29px;
    background-color: white;
    height: 50px; /* Độ cao tổng thể bao gồm padding */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.right-panel .navigation .bi-list {
    font-size: 40px;
}
.right-panel .navigation .bi-box-arrow-right{
    font-size: 40px;
    color:black
}
.link-container {
    display: flex;
    justify-content: flex-end; /* Đẩy liên kết sang phải */
    padding-right: 20px; /* Khoảng cách từ lề phải */
    padding-top: 15px; /* Khoảng cách từ phía trên */
}
.link{
    text-decoration: none;
    color: #567184;
    font-size: 20px;
}

.custom-style {
    /* Tùy chỉnh CSS của phần tử */
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}