body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 0 !important; 
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin: 0;
    width: 100%; /* Sử dụng 100% thay vì 100vw */
    max-width: 100%;
    display: flex; /* Thiết lập container là flex container */
    height: 100vh; /* Đảm bảo container có chiều cao đầy đủ */
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.right-panel {
    flex-grow: 1; /* Cho phép right-panel mở rộng để chiếm phần còn lại của không gian */
    background-color: #f0f0f0; /* Màu xám nhạt */
    height: 100vh; /* Đảm bảo chiều cao đầy đủ */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng có sẵn */
}
.right-panel .navigation-bar {
    padding: 29px;
    background-color: white;
    height: 50px; /* Độ cao tổng thể bao gồm padding */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
}


.right-panel .navigation-bar .bi-box-arrow-right{
    font-size: 40px;
    color:black
}

.custom-style {
    /* Tùy chỉnh CSS của phần tử */
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.home-link-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 15px;
}

.home-link {
    text-decoration: none;
    color: #567184;
    font-size: 30px;
}