body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* Thiết lập container là flex container */
    height: 100vh; /* Đảm bảo container có chiều cao đầy đủ */
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 0 !important; 
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.right-panel {
    flex-grow: 1;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100%;
}

.navigation-bar {
    padding: 29px;
    background-color: white;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.log-out {
    font-size: 40px;
    color: black;
}

/* Định dạng cho phần nội dung bên phải */
.home-link-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 15px;
}

.home-link {
    text-decoration: none;
    color: #567184;
    font-size: 30px;
}

.appointment-container {
    margin: 20px 25px 25px 25px; 
    background-color: #fff; /* Đảm bảo màu nền khác biệt */
    padding: 20px; /* Thêm padding 20px ở bốn góc */
    border-radius: 8px; /* Tùy chọn: thêm bo góc để tạo hiệu ứng đẹp hơn */
    position: relative; /* Đặt position relative để chứa các phần tử tuyệt đối bên trong */
    height: 70%;
    overflow-y: auto;
}

/* Định dạng cho các nút */
button {
    background-color: #546e7a;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #546e7a;
}

/* Định dạng cho bảng sinh viên */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
    color: #37474f;
}

td button {
    background-color: #e57373;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

td button:hover {
    background-color: #ef5350;
}

/* Định dạng cho form thêm sinh viên */
#addStudentFormContainer {
    margin-top: 20px;
}

.add-student-form {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px; /* Thêm margin-top để tạo khoảng cách giữa tiêu đề và phần tử form */
}
.add-student-form input,
.add-student-form button {
    flex: 1; /* Phần tử con sẽ mở rộng để điền hết không gian trống */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-student-form button {
    background-color: #37474f;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.add-student-form button:hover {
    background-color: #546e7a;
}
/* Định dạng cho phần action buttons */
.action-buttons {
    display: flex;
    justify-content: flex-end; /* Đưa các nút sang bên phải */
    margin-top: 20px; /* Khoảng cách phía trên */
}